@import "tailwindcss";

@theme {
  --color-dark-olive: #2f584f;
  --color-light-olive: #3e7a6f;
  --color-laurel-green: #55977a;
  --color-cornsilk: #cce3d9;
  --color-cornsilk-dark: #cdd5b9;
  --color-ligh-laurel-green: #55977b;

  --color-danger: #c0392b;
  --color-danger-dark: #a93226;
}
